<nav class="sidebar sidebar-offcanvas" id="sidebar">
	<ul class="nav">
		<li class="nav-item">
			<a class="nav-link" href="/Dashboard/Index/">
				<i class="icon-grid menu-icon"></i>
				<span class="menu-title">Dashboard</span>
			</a>
		</li>

		<li class="nav-item">
			<a class="nav-link" href="/AllMessage/Index/">
				<i class="icon-layout menu-icon"></i>
				<span class="menu-title">Bütün Mesajlar</span>
			</a>
		</li>


		<li class="nav-item">
			<a class="nav-link" href="/Profile/Index/">
				<i class="ti-microphone menu-icon"></i>
				<span class="menu-title">Profilim</span>
			</a>
		</li>



		<li class="nav-item">
			<a class="nav-link" href="/Message/Receiver/">
				<i class="ti-notepad menu-icon"></i>
				<span class="menu-title">Gelen Mesaj</span>
			</a>
		</li>

		<li class="nav-item">
			<a class="nav-link" href="/Message/Sender/">
				<i class="ti-agenda menu-icon"></i>
				<span class="menu-title">Giden Mesaj</span>
			</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="/Message/SendMessage/">
				<i class="ti-cloud menu-icon"></i>
				<span class="menu-title">Yeni Mesaj</span>
			</a>
		</li>

		<li class="nav-item">
			<a class="nav-link" href="/Login/LogOut/">
				<i class="ti-power-off menu-icon"></i>
				<span class="menu-title">Çıkış Yap</span>
			</a>
		</li>
	</ul>
</nav>