<div class="col-md-7 grid-margin stretch-card">
	<div class="card">
		<div class="card-body">
			<p class="card-title mb-0">Projelerim</p>
			<div class="table-responsive">
				<table class="table table-striped table-borderless">
					<thead>
						<tr>
							<th>Başlık</th>

							<th>Status</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>Core Proje</td>
							<td class="font-weight-medium"><div class="badge badge-success">Completed</div></td>
						</tr>
						<tr>
							<td>Mvc Online Ticari Otomasyon</td>
							<td class="font-weight-medium"><div class="badge badge-success">Completed</div></td>
						</tr>
						<tr>
							<td>Blogy Projesi</td>
							<td class="font-weight-medium"><div class="badge badge-warning">Pending</div></td>
						</tr>
						<tr>
							<td>Identity Mesajlaşma Projesi</td>
							<td class="font-weight-medium"><div class="badge badge-warning">Pending</div></td>
						</tr>
						<tr>
							<td>Traversel Trip</td>
							<td class="font-weight-medium"><div class="badge badge-danger">Cancelled</div></td>
						</tr>
						<tr>
							<td>Mvc Proje Kampı</td>
							<td class="font-weight-medium"><div class="badge badge-warning">Pending</div></td>
						</tr>
						<tr>
							<td>.Net Core Proje Kampı</td>
							<td class="font-weight-medium"><div class="badge badge-success">Completed</div></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>