<div class="col-md-6 grid-margin stretch-card">
	<div class="card">
		<div class="card-body">
			<p class="card-title">.NET Core 6.0 ile Geliştirilen Kayıt Olma ve Mesajlaşma Programı</p>
			<p class="font-weight-500">
				-Kayıt Olma ve Giriş Yapma: Kullanıcılar, sisteme kayıt olmadan mesajlaşma özelliklerine erişim sağlayamazlar. Kayıt sırasında temel kullanıcı bilgileri alınır ve güvenli bir giriş yapılması sağlanır.
				<br />
				<br />
				-Mesajlaşma Sistemi: Kullanıcılar birbirlerine anlık mesajlar gönderebilir, sohbet geçmişlerine erişebilir ve grup sohbetleri oluşturabilir. Mesajlaşma, hızlı ve güvenli bir şekilde yapılır.
				<br />
				<br />
				-Dashboard ve İstatistikler: Kullanıcılar sisteme giriş yaptıktan sonra, kişisel dashboard’larında istatistikleri görüntüleyebilirler. Bu istatistikler arasında, günlük aktif kullanıcı sayısı, mesajlaşma yoğunluğu ve kullanıcı etkileşimleri gibi veriler bulunur. Bu sayede kullanıcılar, platformun genel performansı hakkında bilgi sahibi olabilirler.
			</p>
			<canvas id="order-chart"></canvas>
		</div>
	</div>
</div>