<div class="col-md-6 grid-margin stretch-card">
	<div class="card">
		<div class="card-body">
			<div class="d-flex justify-content-between">
				<p class="card-title">Ayarlar</p>
			</div>
			<p class="font-weight-500">
				Profilim bölümünde, kişisel bilgilerinizi güncelleyebilir, adınızı, soyadınızı, e-posta adresinizi ve diğer iletişim bilgilerinizi değiştirebilirsiniz. Hesabınızın güvenliği için şifrenizi düzenli aralıklarla güncelleyebilir ve profil resminizi yükleyerek daha kişisel bir dokunuş katabilirsiniz. Profil fotoğrafınız, sosyal ağlarda daha tanınabilir olmanıza yardımcı olur.
				<br />
				<br />
				Bu bölümde, kullanıcı bilgilerinizi daha fazla kişiselleştirerek, kendinizi platformda en iyi şekilde temsil edebilirsiniz. Profilim alanında, ayrıca hesap ayarlarınıza hızlıca erişebilir ve hesapla ilgili tercihlerinizde değişiklikler yapabilirsiniz. Örneğin, bildirim tercihlerinizi, gizlilik ayarlarınızı ve dil seçeneklerinizi burada düzenleyebilirsiniz.
				<br />
				<br />
				Ayrıca, çıkış yapma alanı üzerinden sistemden güvenli bir şekilde çıkış yapabilirsiniz. Çıkış yaptıktan sonra, hesabınıza tekrar erişmek için oturum açmanız gerekecektir. Bu işlem, hesabınızın güvenliğini sağlamanızı ve başkalarının erişimini engellemenizi sağlar. Herhangi bir güvenlik sorunu yaşamak istemediğinizde, çıkış yaparak sistemden ayrılmanız önemlidir.
			</p>
			<div id="sales-legend" class="chartjs-legend mt-4 mb-2"></div>
			<canvas id="sales-chart"></canvas>
		</div>
	</div>
</div>