<div class="col-md-5 grid-margin stretch-card">
	<div class="card">
		<div class="card-body">
			<h4 class="card-title">Yapılacakalr Listesi</h4>
			<div class="list-wrapper pt-2">
				<ul class="d-flex flex-column-reverse todo-list todo-list-custom">
					<li>
						<div class="form-check form-check-flat">
							<label class="form-check-label">
								<input class="checkbox" type="checkbox">
								Giriş Temasını Hazırla
							</label>
						</div>
						<i class="remove ti-close"></i>
					</li>
					<li class="completed">
						<div class="form-check form-check-flat">
							<label class="form-check-label">
								<input class="checkbox" type="checkbox" checked>
								Giriş Yapan Kullanıcı Görseli
							</label>
						</div>
						<i class="remove ti-close"></i>
					</li>
					<li>
						<div class="form-check form-check-flat">
							<label class="form-check-label">
								<input class="checkbox" type="checkbox">
								Mesajlaşma Uugulaması
							</label>
						</div>
						<i class="remove ti-close"></i>
					</li>
					<li class="completed">
						<div class="form-check form-check-flat">
							<label class="form-check-label">
								<input class="checkbox" type="checkbox" checked>
								Çıkış Yapma İşlemi
							</label>
						</div>
						<i class="remove ti-close"></i>
					</li>
					<li>
						<div class="form-check form-check-flat">
							<label class="form-check-label">
								<input class="checkbox" type="checkbox">
								Güncel Hava Durumu 
							</label>
						</div>
						<i class="remove ti-close"></i>
					</li>
				</ul>
			</div>
			<div class="add-items d-flex mb-0 mt-2">
				<input type="text" class="form-control todo-list-input" placeholder="Liste Ekle">
				<button class="add btn btn-icon text-primary todo-list-add-btn bg-transparent"><i class="icon-circle-plus"></i></button>
			</div>
		</div>
	</div>
</div>