@{
	ViewData["Title"] = "Index";
	Layout = "~/Views/TemaLayout/Index.cshtml";
}

 @await Component.InvokeAsync("_DashboardWelcomeComponentPartial") 


<div class="row">
	@await Component.InvokeAsync("_DashboardWeatherApiComponentPartial")
	@await Component.InvokeAsync("_DashboardStatisticComponentPartial")

</div>

<div class="row">
	@await Component.InvokeAsync("_DashboardDescriptionLeftComponentPartial")
	@await Component.InvokeAsync("_DashboardDescriptionRightComponentPartial")

</div>

<div class="row">
	@await Component.InvokeAsync("_DashboardTableComponentPartial")
	@await Component.InvokeAsync("_DashboardTodoListComponentPartial")

</div>





